<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATION OR EDIT PERFIL</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav class="nav__complet"> 
        <ul>
            <div class="nav__izq">
                <li>
                    <a href="index.html">
                        <img src="/static/assests/img/3.png" alt="logo">
                    </a>
                </li>
            </div>
            <div class="nav__der">
                <li id="desktop">
                    <a href="crear_post.html" class="nav">CREAR POST</a>
                </li>
                <li id="desktop">
                    <a href="posts.html" class="nav">POST</a>
                </li>
                <div id="desktop" class="dropdown" style="float:right;">
                    <button type="button" class="btn btn-link dropbtn"><img src="/static/assests/barra-de-menus.png" ></button>
                    
                    <div class="dropdown-content">
                        <li><a href="perfil.html">
                            <img src="/static/assests/avatar/avatar-default.png" alt="avatar">
                        </a></li>
                        <li>
                            <a href="msj.html" class="nav">Mensajes</a>
                        </li>
                        <li><a href="creation_perfil.html">Editar Perfil</a></li>
                    </div>
                </div>
                <div id="mobileVist" class="dropdown" style="float:right;">
                    <button type="button" class="btn btn-link dropbtn"><img src="/static/assests/barra-de-menus.png" ></button>
                    
                    <div class="dropdown-content">
                        <li><a href="perfil.html">
                            <img src="/static/assests/avatar/avatar-default.png" alt="">
                        </a></li>
                        <li>
                            <a href="crear_post.html" class="nav">CREAR POST</a>
                        </li>
                        <li>
                            <a href="posts.html" class="nav">POST</a>
                        </li>
                        <li>
                            <a href="msj.html" class="nav">Mensajes</a>
                        </li>
                        <li><a href="creation_perfil.html">Editar Perfil</a></li>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <section class="showcase class__section aboutPage">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <img class="col-lg-6 order-lg-2 text-white showcase-img" src="/static/assests/img/Anotación 2023-05-04 213458.jpg"></img>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text class__txt">
                    <h2>Nuestra meta</h2>
                    <p class="lead mb-0">
                        Queremos crear una comunidad la cual pueda mostrar sus proyectos, tanto sea trabajo como hobby, asi las empresas podran 
                        mostrar sus trabajos y ser conocidas, ademas de aquellas personas freelancer mostraran sus proyectos y poder hacerse visible en este ambito.</p>
                </div>
            </div>
            <div class="row g-0">
                <img class="col-lg-6 text-white showcase-img" src="/static/assests/img/advanced_animation.96.png"></img>
                <div class="col-lg-6 my-auto showcase-text class__txt">
                    <h2>Proyectos y Porfolio</h2>
                    <p class="lead mb-0">
                        Como ya habiamos dicho tanto empresas como los individuos que trabajan como freelancer prodran mostrar sus proyectos,
                        asi podran crear un porfolio, el cual podra ver cualquiera, lo que abrira el camino para aquellos que no sean aun conocidos en este ambito.
                    </p>
                </div>
            </div>
            <div class="row g-0">
                <iframe
                        width="900"
                        height="500"
                        src="https://www.youtube.com/embed/MJ7VSe7hs6Y"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                        class="col-lg-6 order-lg-2 text-white showcase-img">
                </iframe>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text class__txt">
                    <h2>Una comunidad</h2>
                    <p class="lead mb-0">
                        Queremos que este se convierta en una comunidad donde aquellos que necesiten una ayuda la puedan encontrar, que cada uno comparta sus conocimientos
                        y/o pueda comentarlos asi poder ayudar a mejorar aquellos que recien estan entrando en este ambito.    
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="foot__complet">
        <div class="foot__left">
            <h3>Contactos:</h3>
            <p>Por cualquier duda o consulta, envienos un mensaje</p>
            <h4>Email: R-3D@gmail.com</h4>
            <p>Tambien puede llenar el formulario y nosotros
                responederemos su consulta a la brebedad
            </p>
            <li>
                <a href="contact.html">Centro de ayuda</a>
            </li>
        </div>
        <div class="foot__right">
            <a href="index.html" class="logo_2">
                <img src="/static/assests/img/3.png" alt="logo">
            </a>
            <li>
                <a href="about.html">Sobre nosotros</a>
            </li>
        </div>
    </footer>
</body>

<script src="/static/js/bootstrap.js"></script>

</html>