<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - R-3D</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/assests/img/icon/icono.svg"/>
    <meta name="keywords"  content="ABOUT, SOBRE NOSOTROS, INFORMACION">
    <meta name="description" content="Este sitio surgio de un estudiante de Diseño Industrial, el cual queria que los que se dediquen a esto tengan 
    un lugar donde compartir sus proyectos, trabajos, etc. Ademas de que el arte del render tenga un lugar para aquellos que lo amamos.">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="nav__complet"> 
        <ul>
            <div class="nav__izq">
                <li>
                    <a href="../index.html">
                        <img src="../static/assests/img/3.png" alt="logo">
                    </a>
                </li>
            </div>
            <div class="nav__der">
                <li id="desktop">
                    <a href="crear_post.html" class="nav">CREAR POST</a>
                </li>
                <li id="desktop">
                    <a href="posteos.html" class="nav">POST</a>
                </li>
                <li id="desktop">
                    <a href="msj.html" class="nav">MENSAJES</a>
                </li>
                <li id="desktop"><a href="perfil.html">
                    <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                </a></li>
                <div id="mobileVist" class="dropdown" style="float:right;">
                    <button type="button" class="btn btn-link dropbtn"><i class="button-menu"></i></button>
                    <div class="dropdown-content">
                        <li><a href="perfil.html">
                            <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                        </a></li>
                        <li>
                            <a href="crear_post.html" class="nav">CREAR POST</a>
                        </li>
                        <li>
                            <a href="posteos.html" class="nav">POST</a>
                        </li>
                        <li>
                            <a href="msj.html" class="nav">Mensajes</a>
                        </li>
                        <li><a href="creation_perfil.html">Editar Perfil</a></li>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <section class="showcase class__section aboutPage">
        <div class="container-fluid p-0">
            <div class="row g-0 section__art" data-aos="fade-up" data-aos-duration="3000">
                <img class="col-lg-6 order-lg-2 text-white showcase-img" src="../static/assests/img/Anotación 2023-05-04 213458.jpg"></img>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text class__txt">
                    <h2>QUIENES SOMOS</h2>
                    <p class="lead mb-0">Somos una comunidad creciente, la cual nos dedicamos por hobby y/o por trabajo a la creación de modelos en 3D y al
                        fotorrealismo de los mismos.</p>
                </div>
            </div>
            <div class="row g-0 section__art" data-aos="fade-up" data-aos-duration="3000">
                <img class="col-lg-6 text-white showcase-img" src="../static/assests/img/advanced_animation.96.png"></img>
                <div class="col-lg-6 my-auto showcase-text class__txt">
                    <h2>QUE BUSCAMOS</h2>
                    <p class="lead mb-0">Nuestra meta es crear una comunidad donde la gente pueda apreciar el arte del fotorrealismo, donde cada usuario pueda
                        subir sus proyectos, y que aquellos que recién arrancan en este ámbito poder recibir ayuda y/o tips sobre que mejorar.
                    </p>
                </div>
            </div>
            <div class="row g-0 section__art" data-aos="fade-up" data-aos-duration="3000">
                <iframe
                        width="900"
                        height="500"
                        src="https://www.youtube.com/embed/MJ7VSe7hs6Y"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                        class="col-lg-6 order-lg-2 text-white showcase-img">
                </iframe>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text class__txt">
                    <h2>Y QUE MAS?</h2>
                    <p class="lead mb-0">
                        Ademas de todo lo mencionado anteriormente, y como ya se había dicho, esta plataforma te sirve como un porfolio 
                        sobre todos tus proyectos y trabajos que hayas echo hasta ahora. Con tan solo un clic podrás compartir tu perfil,
                        así las empresas podrán visualizar todo lo que hayas echo.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="foot__complet">
        <div class="foot__left">
            <h3>CONTACTOS:</h3>
            <p>Por cualquier duda o consulta, envíenos un mensaje</p>
            <h4>Email: R-3D@gmail.com</h4>
            <p>También puede llenar el formulario y nosotros
                responderemos su consulta a la brevedad
            </p>
            <li>
                <a href="contact.html">CENTRO DE AYUDA</a>
            </li>
        </div>
        <div class="foot__right">
            <a href="../index.html" class="logo_2">
                <img src="../static/assests/img/3.png" alt="logo">
            </a>
            <li>
                <a href="about.html">SOBRE NOSOTROS</a>
            </li>
        </div>
    </footer>
</body>

<script src="../static/js/bootstrap.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>


</html>