<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Post - R-3D</title>
    <link rel="icon" type="image/x-icon" href="../static/assests/img/icon/icono.svg"/>
    <meta name="keywords"  content="subir post, crear post, img, archivo, descripcion">
    <meta name="description" content="Comparte tus proyectos con la comunidad.">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="nav__complet"> 
        <ul>
            <div class="nav__izq">
                <li>
                    <a href="../index.html">
                        <img src="../static/assests/img/3.png" alt="logo">
                    </a>
                </li>
            </div>
            <div class="nav__der">
                <li id="desktop">
                    <a href="crear_post.html" class="nav">CREAR POST</a>
                </li>
                <li id="desktop">
                    <a href="posts.html" class="nav">POST</a>
                </li>
                <li id="desktop">
                    <a href="msj.html" class="nav">MENSAJES</a>
                </li>
                <li id="desktop"><a href="perfil.html">
                    <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                </a></li>
                <div id="mobileVist" class="dropdown" style="float:right;">
                    <button type="button" class="btn btn-link dropbtn"><i class="button-menu"></i></button>
                    <div class="dropdown-content">
                        <li><a href="perfil.html">
                            <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                        </a></li>
                        <li>
                            <a href="crear_post.html" class="nav">CREAR POST</a>
                        </li>
                        <li>
                            <a href="posts.html" class="nav">POST</a>
                        </li>
                        <li>
                            <a href="msj.html" class="nav">Mensajes</a>
                        </li>
                        <li><a href="creation_perfil.html">Editar Perfil</a></li>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <main>
        <section id="form__editPerfilAndContact">
            <form>
                <div class="class__header">
                    <h3>ARCHIVO:</h3>
                    <div class="classImgCreationPost class__head">
                        <img src="../static/assests/img/default-image.png" class="img-fluid" alt="default-image">
                        <label for="formFileLg" class="form-label"></label>
                        <input class="form-control form-control-lg" id="formFileLg" type="file">
                    </div>
                </div>
                <div class="class__data">
                    <h3>DATOS:</h3>
                    <div class="form-group data__inf">
                        <h4>TITULO</h4>
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                    </div>
                    <div class="form-group data__inf">
                        <h4>DESCRIPCION</h4>
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                </div>
                <div class="classBtn">
                    <button type="submit" class="btn btn-info">GUARDAR</button>
                </div>
              </form>
        </section>
    </main>

    <footer class="foot__complet">
        <div class="foot__left">
            <h3>CONTACTOS:</h3>
            <p>Por cualquier duda o consulta, envíenos un mensaje</p>
            <h4>Email: R-3D@gmail.com</h4>
            <p>También puede llenar el formulario y nosotros
                responderemos su consulta a la brevedad
            </p>
            <li>
                <a href="contact.html">CENTRO DE AYUDA</a>
            </li>
        </div>
        <div class="foot__right">
            <a href="../index.html" class="logo_2">
                <img src="../static/assests/img/3.png" alt="logo">
            </a>
            <li>
                <a href="about.html">SOBRE NOSOTROS</a>
            </li>
        </div>
    </footer>
</body>

<script src="../static/js/bootstrap.js"></script>

</html>