<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes - R-3D</title>
    <link rel="icon" type="image/x-icon" href="../static/assests/img/icon/icono.svg"/>
    <meta name="keywords"  content="msj, mensajes, enviar mensaje">
    <meta name="description" content="Envia y recibe mensajes privados por parte de la comunidad.">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="nav__complet"> 
        <ul>
            <div class="nav__izq">
                <li>
                    <a href="../index.html">
                        <img src="../static/assests/img/3.png" alt="logo">
                    </a>
                </li>
            </div>
            <div class="nav__der">
                <li id="desktop">
                    <a href="crear_post.html" class="nav">CREAR POST</a>
                </li>
                <li id="desktop">
                    <a href="posts.html" class="nav">POST</a>
                </li>
                <li id="desktop">
                    <a href="msj.html" class="nav">MENSAJES</a>
                </li>
                <li id="desktop"><a href="perfil.html">
                    <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                </a></li>
                <div id="mobileVist" class="dropdown" style="float:right;">
                    <button type="button" class="btn btn-link dropbtn"><i class="button-menu"></i></button>
                    <div class="dropdown-content">
                        <li><a href="perfil.html">
                            <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                        </a></li>
                        <li>
                            <a href="crear_post.html" class="nav">CREAR POST</a>
                        </li>
                        <li>
                            <a href="posts.html" class="nav">POST</a>
                        </li>
                        <li>
                            <a href="msj.html" class="nav">Mensajes</a>
                        </li>
                        <li><a href="creation_perfil.html">Editar Perfil</a></li>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <main>
        <section id="mensaje">
            <div class="class__sup">
                <h3>MENSAJES:</h3>
                <div class="searchPerfilMsj">
                    <form action="">
                        <div class="form-group">
                            <label for="formGroupExampleInput"></label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="class__bandeja scroll">
                <li>
                    <a href="msj_rec.html">
                        <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                        <div class="user__txt">
                            <h4>CobbyS_S</h4>
                            <p>
                                Buenas, me encantan tus render, quería hacerte un encargo de una animación.
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="msj_rec.html">
                        <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                        <div class="user__txt">
                            <h4>Zeke_tg</h4>
                            <p>
                                Muy buenos modelos en 3D, y la calidad de las texturas en el render es hiperrealista, me podrías enseñar?
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="msj_rec.html">
                        <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                        <div class="user__txt">
                            <h4>Papa-Francisco</h4>
                            <p>
                                Hola, puedes pasarme el modelo en 3D de la mascara que usaste para el render?
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="msj_rec.html">
                        <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                        <div class="user__txt">
                            <h4>MoraV</h4>
                            <p>
                                Hey, puedes ayudarme con los render que tengo que hacer para la Facultad?
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="msj_rec.html">
                        <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                        <div class="user__txt">
                            <h4>FAUD</h4>
                            <p>
                                Hemos estado viendo tus proyectos y/o trabajos y estamos interesados en reclutarte como
                                profesor adjunto en la carrera de Diseño Industrial en el área de Informática, así poder compartir 
                                tus conocimientos y enseñar.
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="msj_rec.html">
                        <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                        <div class="user__txt">
                            <h4>Mayinka</h4>
                            <p>
                                Que buen trabajo, como manejas las texturas, los colores y la luz, me encanta.
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="msj_rec.html">
                        <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                        <div class="user__txt">
                            <h4>Dropix3D</h4>
                            <p>
                                Buenas, estamos interesados en que formes parte de nuestro personal, en la parte de CGI.
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="msj_rec.html">
                        <img src="../static/assests/img/avatar/avatar-default.png" alt="avatar">
                        <div class="user__txt">
                            <h4>HUX</h4>
                            <p>
                                Increíble amigo, tu trabajo me asombra, recién estoy empezando en esto y quería ver 
                                si me podías dar algún consejo, sobre el manejo de texturas, y que programa de render usar.
                            </p>
                        </div>
                    </a>
                </li>
            </div>
        </section>
    </main>
    
    <footer class="foot__complet">
        <div class="foot__left">
            <h3>CONTACTOS:</h3>
            <p>Por cualquier duda o consulta, envíenos un mensaje</p>
            <h4>Email: R-3D@gmail.com</h4>
            <p>También puede llenar el formulario y nosotros
                responderemos su consulta a la brevedad
            </p>
            <li>
                <a href="contact.html">CENTRO DE AYUDA</a>
            </li>
        </div>
        <div class="foot__right">
            <a href="../index.html" class="logo_2">
                <img src="../static/assests/img/3.png" alt="logo">
            </a>
            <li>
                <a href="about.html">SOBRE NOSOTROS</a>
            </li>
        </div>
    </footer>
</body>

<script src="../static/js/bootstrap.js"></script>

</html>