<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes - R-3D</title>
    <link rel="icon" type="image/x-icon" href="../static/assests/icono.svg"/>
    <meta name="keywords"  content="msj, mensajes, enviar mensaje, chat, privado">
    <meta name="description" content="Chat privado.">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="nav__complet"> 
        <ul>
            <div class="nav__izq">
                <li>
                    <a href="../index.html">
                        <img src="../static/assests/img/3.png" alt="logo">
                    </a>
                </li>
            </div>
            <div class="nav__der">
                <li id="desktop">
                    <a href="crear_post.html" class="nav">CREAR POST</a>
                </li>
                <li id="desktop">
                    <a href="posts.html" class="nav">POST</a>
                </li>
                <li id="desktop">
                    <a href="msj.html" class="nav">MENSAJES</a>
                </li>
                <li id="desktop"><a href="perfil.html">
                    <img src="/static/assests/avatar/avatar-default.png" alt="avatar">
                </a></li>
                <div id="mobileVist" class="dropdown" style="float:right;">
                    <button type="button" class="btn btn-link dropbtn"><img src="../static/assests/barra-de-menus.png" ></button>
                    
                    <div class="dropdown-content">
                        <li><a href="perfil.html">
                            <img src="../static/assests/avatar/avatar-default.png" alt="">
                        </a></li>
                        <li>
                            <a href="crear_post.html" class="nav">CREAR POST</a>
                        </li>
                        <li>
                            <a href="posts.html" class="nav">POST</a>
                        </li>
                        <li>
                            <a href="msj.html" class="nav">Mensajes</a>
                        </li>
                        <li><a href="creation_perfil.html">Editar Perfil</a></li>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <main>
        <section id="mensaje">
            <div class="class__sup">
                <h2 class="title__msj">CHAT:</h2>
                <div class="userChat">
                    <a href="perfil.html">
                        <img src="../static/assests/avatar/avatar-default.png" class="img-fluid" alt="avatar">
                        <h3>Zeke_tg</h3>
                    </a>
                </div>
            </div>
            <div class="class__bandeja scroll">
                <div class="userChatLeft">
                    <img src="../static/assests/avatar/avatar-default.png" class="img-fluid" alt="avatar">
                    <p>Muy buenos modelos en 3D, y la calidad de las texturas en el render es hiperrealista, me podrias enseñar?</p>
                </div>
                <div class="userChatRight">
                    <p>Muy buenos modelos en 3D, y la calidad de las texturas en el render es hiperrealista, me podrias enseñar?</p>
                    <img src="../static/assests/avatar/avatar-default.png" class="img-fluid" alt="avatar">
                </div>
            </div>
        </section>
    </main>
    
    <footer class="foot__complet foot__form">
        <div class="foot__left">
            <h3>Contactos:</h3>
            <p>Por cualquier duda o consulta, envienos un mensaje</p>
            <h4>Email: R-3D@gmail.com</h4>
            <p>Tambien puede llenar el formulario y nosotros
                responederemos su consulta a la brebedad
            </p>
            <li>
                <a href="contact.html">CENTRO DE AYUDA</a>
            </li>
        </div>
        <div class="foot__right">
            <a href="../index.html" class="logo_2">
                <img src="../static/assests/img/3.png" alt="logo">
            </a>
            <li>
                <a href="about.html">SOBRE NOSOTROS</a>
            </li>
        </div>
    </footer>
</body>

<script src="../static/js/bootstrap.js"></script>

</html>