<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - R-3D</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/assests/icono.svg"/>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body>
    <nav class="nav__complet"> 
        <ul>
            <div class="nav__izq">
                <li>
                    <a href="../index.html">
                        <img src="../static/assests/img/3.png" alt="logo">
                    </a>
                </li>
            </div>
            <div class="nav__der">
                <li id="desktop">
                    <a href="crear_post.html" class="nav">CREAR POST</a>
                </li>
                <li id="desktop">
                    <a href="posts.html" class="nav">POST</a>
                </li>
                <div id="desktop" class="dropdown" style="float:right;">
                    <button type="button" class="btn btn-link dropbtn"><img src="../static/assests/barra-de-menus.png" ></button>
                    
                    <div class="dropdown-content">
                        <li><a href="perfil.html">
                            <img src="../static/assests/avatar/avatar-default.png" alt="avatar">
                        </a></li>
                        <li>
                            <a href="msj.html" class="nav">Mensajes</a>
                        </li>
                        <li><a href="creation_perfil.html">Editar Perfil</a></li>
                    </div>
                </div>
                <div id="mobileVist" class="dropdown" style="float:right;">
                    <button type="button" class="btn btn-link dropbtn"><img src="../static/assests/barra-de-menus.png" ></button>
                    
                    <div class="dropdown-content">
                        <li><a href="perfil.html">
                            <img src="../static/assests/avatar/avatar-default.png" alt="">
                        </a></li>
                        <li>
                            <a href="crear_post.html" class="nav">CREAR POST</a>
                        </li>
                        <li>
                            <a href="posts.html" class="nav">POST</a>
                        </li>
                        <li>
                            <a href="msj.html" class="nav">Mensajes</a>
                        </li>
                        <li><a href="creation_perfil.html">Editar Perfil</a></li>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <section class="class__container">
        <div class="class__avatar">
            <div>
                <a href="../static/assests/avatar/avatar-default.png">
                    <img src="../static/assests/avatar/avatar-default.png" alt="avatar">
                </a>
            </div>
            <div class="class__edit">
                <a href="creation_perfil.html">EDITAR PERFIL</a>
            </div>
        </div>
        <div class="right__info">
            <h3>
                CobbyS_S
            </h3>
            <h4>
                Descripcion:
            </h4>
            <p>
                Estudio Diseño Indutrial y programacion, mi hobby con los modelos 3D y los render surgio con
                el ultimo trabajo de 2do año de la carrera de D.I. , desde ese dia hago esto por diversion o
                por trabajo, y me gusta crear objetos con texturas hiperrealista y crear modelos detallados. 
            </p>
        </div>
    </section>
    
    <article class="container__art">
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>
            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
    </article>

    <footer class="foot__complet">
        <div class="foot__left">
            <h3>Contactos:</h3>
            <p>Por cualquier duda o consulta, envienos un mensaje</p>
            <h4>Email: R-3D@gmail.com</h4>
            <p>Tambien puede llenar el formulario y nosotros
                responederemos su consulta a la brebedad
            </p>
            <li>
                <a href="contact.html">Centro de ayuda</a>
            </li>
        </div>
        <div class="foot__right">
            <a href="../index.html" class="logo_2">
                <img src="../static/assests/img/3.png" alt="logo">
            </a>
            <li>
                <a href="about.html">Sobre nosotros</a>
            </li>
        </div>
    </footer>
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="../static/js/bootstrap.js"></script>
</html>