<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posteos - R-3D</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/assests/icono.svg"/>
    <meta name="keywords"  content="post, publicacion, buscar post, filtrar post, buscar perfil">
    <meta name="description" content="Todos tus proyectos y de la comunidad, en este lugar podras buscar y encontrar lo que busques, 
    tanto publicaciones, como usuarios.">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="nav__complet"> 
        <ul>
            <div class="nav__izq">
                <li>
                    <a href="../index.html">
                        <img src="../static/assests/img/3.png" alt="logo">
                    </a>
                </li>
            </div>
            <div class="nav__der">
                <li id="desktop">
                    <a href="crear_post.html" class="nav">CREAR POST</a>
                </li>
                <li id="desktop">
                    <a href="posts.html" class="nav">POST</a>
                </li>
                <li id="desktop">
                    <a href="msj.html" class="nav">MENSAJES</a>
                </li>
                <li id="desktop"><a href="perfil.html">
                    <img src="../static/assests/avatar/avatar-default.png" alt="avatar">
                </a></li>
                <div id="mobileVist" class="dropdown" style="float:right;">
                    <button type="button" class="btn btn-link dropbtn"><i class="button-menu"></i></button>
                    <div class="dropdown-content">
                        <li><a href="perfil.html">
                            <img src="../static/assests/avatar/avatar-default.png" alt="">
                        </a></li>
                        <li>
                            <a href="crear_post.html" class="nav">CREAR POST</a>
                        </li>
                        <li>
                            <a href="posts.html" class="nav">POST</a>
                        </li>
                        <li>
                            <a href="msj.html" class="nav">Mensajes</a>
                        </li>
                        <li><a href="creation_perfil.html">Editar Perfil</a></li>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <header class="form__pub">
        <div class="filter__form">
            <form action="">
                <h4>FILTRAR POST:</h4>
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Post">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">BUSCAR</button>
                </div>
            </form>
        </div>
        <div class="filter__form">
            <form action="">
                <h4>BUSCAR PERFIL:</h4>
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">BUSCAR</button>
                </div>
            </form>
        </div>
    </header>

    

    <article class="container__art">
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>
            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
        <div class="container__pub" data-aos="flip-right"> 
            <div>
                <a href="post.html">
                    <img src="../static/assests/img/advanced_animation.96.png" class="img-fluid" alt="publicacion">
                </a>            </div>
            <div class="inf__art">
                <h3>Mascara samurai</h3>
                <P>
                    Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                     ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                     detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                     utilizaban los samurai.
                </P>
            </div>
        </div>
    </article>



    <footer class="foot__complet">
        <div class="foot__left">
            <h3>Contactos:</h3>
            <p>Por cualquier duda o consulta, envienos un mensaje</p>
            <h4>Email: R-3D@gmail.com</h4>
            <p>Tambien puede llenar el formulario y nosotros
                responederemos su consulta a la brebedad
            </p>
            <li>
                <a href="contact.html">CENTRO DE AYUDA</a>
            </li>
        </div>
        <div class="foot__right">
            <a href="../index.html" class="logo_2">
                <img src="../static/assests/img/3.png" alt="logo">
            </a>
            <li>
                <a href="about.html">SOBRE NOSOTROS</a>
            </li>
        </div>
    </footer>
</body>

<script src="../static/js/bootstrap.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>