<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav class="nav__complet"> 
        <ul>
            <div class="nav__izq">
                <li>
                    <a href="index.html">
                        <img src="/static/assests/img/3.png" alt="logo">
                    </a>
                </li>
            </div>
            <div class="nav__der">
                <li id="desktop">
                    <a href="crear_post.html" class="nav">CREAR POST</a>
                </li>
                <li id="desktop">
                    <a href="posts.html" class="nav">POST</a>
                </li>
                <div id="desktop" class="dropdown" style="float:right;">
                    <button type="button" class="btn btn-link dropbtn"><img src="/static/assests/barra-de-menus.png" ></button>
                    
                    <div class="dropdown-content">
                        <li><a href="perfil.html">
                            <img src="/static/assests/avatar/avatar-default.png" alt="avatar">
                        </a></li>
                        <li>
                            <a href="msj.html" class="nav">Mensajes</a>
                        </li>
                        <li><a href="creation_perfil.html">Editar Perfil</a></li>
                    </div>
                </div>
                <div id="mobileVist" class="dropdown" style="float:right;">
                    <button type="button" class="btn btn-link dropbtn"><img src="/static/assests/barra-de-menus.png" ></button>
                    
                    <div class="dropdown-content">
                        <li><a href="perfil.html">
                            <img src="/static/assests/avatar/avatar-default.png" alt="">
                        </a></li>
                        <li>
                            <a href="crear_post.html" class="nav">CREAR POST</a>
                        </li>
                        <li>
                            <a href="posts.html" class="nav">POST</a>
                        </li>
                        <li>
                            <a href="msj.html" class="nav">Mensajes</a>
                        </li>
                        <li><a href="creation_perfil.html">Editar Perfil</a></li>
                    </div>
                </div>
            </div>
        </ul>
    </nav>

    <section class="container__post">
        <div class="post_0">
            <div class="avatar_user avatar_first">
                <a href="perfil.html">
                    <img src="/static/assests/avatar/avatar-default.png" alt="avatar">
                </a>
                <h3>
                    CobbyS_S
                </h3>
            </div>
        </div>
        <div class="post_1">
            <div class="post_2">
                <div class="img_post">
                    <img src="/static/assests/img/advanced_animation.96.png" alt="post">
                </div>
                <div class="txt_post">
                    <h3>Mascara samurai</h3>
                    <P>
                        Mascara samurai clasica con colmillos, tiene dos huecos en los laterales para alguna cinta o tira elastica,
                         ya que estaba pensada para imprimirse, los colmillos son modulares para su impresion sin soportes, para los 
                         detalles se utilizo el dorado y en el cuerpo un bordo para resaltar el enfasis de la sangre y los colores que
                         utilizaban los samurai.
                    </P>
                </div>
            </div>
            <div class="post_3">
                <div class="coment_post">
                    <div class="title_coment">
                        <h3>
                            COMENTARIOS
                        </h3>
                    </div>
                    <div class="scroll-container coment_style">
                        <div class="avatar_user user_coment">
                            <a href="perfil.html">
                                <img src="/static/assests/avatar/avatar-default.png" alt="avatar">
                            </a>
                            <h3>
                                MoraV
                            </h3>
                        </div>
                        <div class="txt_coment">
                            <p>
                                Que buen manejo de las texturas, y los colores.
                            </p>
                        </div>
                        <div class="avatar_user user_coment">
                            <a href="perfil.html">
                                <img src="/static/assests/avatar/avatar-default.png" alt="avatar">
                            </a>
                            <h3>
                                Zeke_tg
                            </h3>
                        </div>
                        <div class="txt_coment">
                            <p>
                                Me encanta la iluminacion, esos pequeños detalles lo hacen hiperreal.
                            </p>
                        </div>
                        <div class="avatar_user user_coment">
                            <a href="perfil.html">
                                <img src="/static/assests/avatar/avatar-default.png" alt="avatar">
                            </a>
                            <h3>
                                Papa-Francisco
                            </h3>
                        </div>
                        <div class="txt_coment">
                            <p>
                                El modelo 3D de la masca esta buenisimo, aunque en mi preferencia le habria 
                                puesto el color negro en ves del rojo.
                            </p>
                        </div>
                        <div class="avatar_user user_coment">
                            <a href="perfil.html">
                                <img src="/static/assests/avatar/avatar-default.png" alt="avatar">
                            </a>
                            <h3>
                                Mayinka
                            </h3>
                        </div>
                        <div class="txt_coment">
                            <p>
                                Me encanta la mascara, pasame por privado el modelo 3D que lo quiero imprimir.
                            </p>
                        </div>
                        <div class="avatar_user user_coment">
                            <a href="perfil.html">
                                <img src="/static/assests/avatar/avatar-default.png" alt="avatar">
                            </a>
                            <h3>
                                HUX
                            </h3>
                        </div>
                        <div class="txt_coment">
                            <p>
                                El toque dorado en los colmillos le queda muy bueno, ademas tiene una textura rugosa, 
                                que esta genial.
                            </p>
                        </div>
                        <div class="avatar_user user_coment">
                            <a href="perfil.html">
                                <img src="/static/assests/avatar/avatar-default.png" alt="avatar">
                            </a>
                            <h3>
                                Duke
                            </h3>
                        </div>
                        <div class="txt_coment">
                            <p>
                                Estaria genial con unos detalles de desgaste y algunas partes con roturas, 
                                los dientes un poco manchados, quedaria epico.
                            </p>
                        </div>
                        <div class="avatar_user user_coment">
                            <a href="perfil.html">
                                <img src="/static/assests/avatar/avatar-default.png" alt="avatar">
                            </a>
                            <h3>
                                Archoon_12
                            </h3>
                        </div>
                        <div class="txt_coment">
                            <p>
                                Muy buen render, pero debes cambiar el fondo, poner algun fondo... como una 
                                mesa o como en unos comentarios arriba que se muestre desgastada y en el suelo 
                                con barro, mas detalles y seria un buen fondo de pantalla.
                            </p>
                        </div>
                        <div class="avatar_user user_coment">
                            <a href="perfil.html">
                                <img src="/static/assests/avatar/avatar-default.png" alt="avatar">
                            </a>
                            <h3>
                                Kaisa
                            </h3>
                        </div>
                        <div class="txt_coment">
                            <p>
                                Como dice Archoon_12, lo pondria en el suelo en medio del barro, con un poco de sangre, 
                                y el cuepo del que la uso atras de el con la mano encima, y con los detalles rotos en la 
                                mascara y desgastada quedaria epica.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="add_coment">
                    <form class="class__form">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Agregar comentario..."></textarea>
                        </div>
                        </div>
                            <button type="submit" class="btn btn-primary">COMENTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="foot__complet">
        <div class="foot__left">
            <h3>Contactos:</h3>
            <p>Por cualquier duda o consulta, envienos un mensaje</p>
            <h4>Email: R-3D@gmail.com</h4>
            <p>Tambien puede llenar el formulario y nosotros
                responederemos su consulta a la brebedad
            </p>
            <li>
                <a href="contact.html">Centro de ayuda</a>
            </li>
        </div>
        <div class="foot__right">
            <a href="index.html" class="logo_2">
                <img src="/static/assests/img/3.png" alt="logo">
            </a>
            <li>
                <a href="about.html">Sobre nosotros</a>
            </li>
        </div>
    </footer>
</body>

<script src="/static/js/bootstrap.js"></script>

</html>